<section class="error_section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="error_inner text-center">
                    <div class="error_title">
                        <h3>OPPS...</h3>
                        <p>SORRY, this page is not found.</p>
                    </div>
                    <div class="error__404">
                        <img width="831" height="282" src="../../assets/images/404.webp" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>