<footer>
    <div class="main-footer">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="main-footer-inner d-flex">
                        <div class="footer-widget-list">
                            <div class="footer-logo">
                                <a href="#">
                                    <img aria-label="logo" width="215" height="79" src="../../assets/images/logo.webp" alt="logo">
                                </a>
                            </div>
                            <div class="footer-contact-desc">
                                <p>It long estabhed fact that reader
                                    will ditracted the readable content
                                    looking using readable.</p>
                            </div>
                            <div class="footer-social">
                                <ul class="d-flex">
                                    <li><a aria-label="facebook" class="facebook" href="https://www.facebook.com"><i class="fab fa-facebook-f"></i>
                                    </a></li>
                                    <li><a aria-label="dribble" class="dribbble" href="https://dribbble.com"><i class="fab fa-dribbble"></i>
                                    </a></li>
                                    <li><a aria-label="youtube" class="youtube" href="https://www.youtube.com"><i class="fab fa-youtube"></i>
                                    </a></li>
                                    <li><a aria-label="twitter" class="twitter" href="https://twitter.com"><i class="fab fa-twitter"></i>
                                    </a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="footer-widget-list contact">
                            <h3>Contact</h3>
                            <div class="footer-contact-info">
                                <div class="footer-contact-info-list">
                                    <span>Location:</span>
                                    <p>123 Shibin Elkom
                                        Monufia, Egypt</p>
                                </div>
                                <div class="footer-contact-info-list">
                                    <span>Phone:</span>
                                    <p><a>00 (02) 123 456 7894</a></p>
                                </div>
                            </div>
                        </div>
                        <div class="footer-widget-list">
                            <h3>today’s winners</h3>
                            <div class="footer-winners-gallery">
                                <div class="footer-winners-list d-flex">
                                    <div class="footer-winners-thumb">
                                        <a href="">
                                            <img aria-label="game-team" width="75" height="75" src="../../assets/images/winners1.webp" alt="">
                                        </a>
                                    </div>
                                    <div class="footer-winners-thumb">
                                        <a href="">
                                            <img aria-label="game-team" width="75" height="75" src="../../assets/images/winners2.webp" alt="">
                                        </a>
                                    </div>
                                    <div class="footer-winners-thumb">
                                        <a href="">
                                            <img aria-label="game-team" width="75" height="75" src="../../assets/images/winners3.webp" alt="">
                                        </a>
                                    </div>
                                </div>
                                <div class="footer-winners-list d-flex">
                                    <div class="footer-winners-thumb">
                                        <a href="">
                                            <img aria-label="game-team" width="75" height="75" src="../../assets/images/winners4.webp" alt="">
                                        </a>
                                    </div>
                                    <div class="footer-winners-thumb">
                                        <a href="">
                                            <img aria-label="game-team" width="75" height="75" src="../../assets/images/winners5.webp" alt="">
                                        </a>
                                    </div>
                                    <div class="footer-winners-thumb">
                                        <a href="">
                                            <img aria-label="game-team" width="75" height="75" src="../../assets/images/winners6.webp" alt="">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="footer-widget-list footer-list-menu">
                            <h3>Content</h3>
                            <div class="footer-menu">
                                <ul>
                                    <li><a href="https://github.com/abeer26omar">Copywriting</a></li>
                                    <li><a href="https://www.linkedin.com/in/abeer-omar-14b9aa147/">Social Media</a></li>
                                    <li><a href="https://github.com/abeer26omar">Web Developer</a></li>
                                    <li><a href="https://github.com/abeer26omar">Front End</a></li>
                                    <li><a href="https://github.com/abeer26omar">Angular 13</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="footer-bottom-inner d-flex justify-content-between">
                        <div class="copyright-right">
                            <p> © 2021  ITI  Made with  <i class="fas fa-heart"></i>  by <a href="https://github.com/abeer26omar">AbeerO.</a></p>
                        </div>
                        <div class="footer-bottom-link-menu">
                            <ul class="d-flex">
                                <li><a href="">Terms &amp; Condition</a></li>
                                <li><a href="">Privacy Policy</a></li>
                            </ul>
                        </div>

                        <div class="scroll-top-icon">
                            <a id="scroll-top" (click)="scrollToTop()">
                                <img aria-label="scroll-top" width="46" height="40" src="../../assets/images/scroll-top.webp" alt="">
                            </a>
                        </div>
                        <!-- <button mat-icon-button>
                            <mat-icon (click)="scrollToTop()">keyboard_arrow_up</mat-icon>
                         </button> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>