<div class="main-wrapper">
    <div class="container">
        <div class="row g-0 min-vh-100 py-5 py-md-5 justify-content-center">
            <div class="col-lg-5 shadow-lg d-flex  align-items-center rounded-3 rounded-start-0 bg-set">
                <div class="container my-auto py-5">
                  <div class="row">
                    <div class="col-11 col-lg-10 mx-auto">
                        <h3 class="text-white text-center mb-4">Sign In</h3>
                        <div class="lds-dual-ring" *ngIf="loadding"></div>
                      <div class="alert alert-danger text-center" *ngIf="error">
                        {{error}}
                      </div>
                        <form id="loginForm" class="form-dark" (ngSubmit)="f.form.valid && submitData(f)" #f="ngForm">
                          <div class="mb-3">
                            <label class="form-label text-light" for="emailAddress">Email Address</label>
                            <input type="email" class="form-control" 
                             ngModel required email name="email" placeholder="example@ex.com" #email="ngModel" >
                             <div class="text-danger" *ngIf="email.invalid && email.touched">
                               <span *ngIf="email.errors?.['required']">Email is required</span>
                               <span *ngIf="email.errors?.['email']">Invaild Email Pattern</span>
                             </div>
                          </div>
                          <div class="mb-3">
                            <label class="form-label text-light" for="loginPassword">Password</label>
                            <input type="password" class="form-control" 
                             ngModel required name="password" placeholder="Enter Password" #password="ngModel" minlength="8">
                             <div class="text-danger" *ngIf="password.invalid && password.touched">
                              <span *ngIf="password.errors?.['required']">Password is required</span>
                              <span *ngIf="password.errors?.['minlength']">Password Must be 8 characters at least</span>                           
                            </div>
                          </div>
                          <div class="row mt-4">
                            <div class="col">
                              <div class="form-check text-2">
                                <input id="remember-me" name="remember" 
                                ngModel class="form-check-input" type="checkbox" #checkbox="ngModel">
                                <label class="form-check-label text-light" for="remember-me">Remember Me</label>
                              </div>
                            </div>
                            <div class="col-sm text-2 text-end"><a>Forgot Password ?</a></div>
                          </div>
                          <div class="d-grid my-4">
                              <button class="btn btn-primary" type="submit"  [disabled]="f.form.invalid">Sign In</button>
                          </div>
                        </form>
                        
                        <p class="text-2 text-center text-light mb-0">Don't have an account? <a routerLink="/signup">Sign Up</a></p>
                      </div>
                </div>
                <div class="text-center">
                    <a  routerLink="/home"><i class="fas fa-home"></i> Home</a>
                </div>
                </div>
              </div>
        </div>
    </div>
</div>