.breadcrumb-bg {
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
    height: 31.4rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .breadcrumb-bg {
      height: 27.5rem;
    }
  }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .breadcrumb-bg {
      height: 24.4rem;
    }
  }
  @media only screen and (max-width: 767px) {
    .breadcrumb-bg {
      height: 21.25rem;
    }
  }
  @media only screen and (max-width: 575px) {
    .breadcrumb-bg {
      height: 26.25rem;
    }
  }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .breadcrumb-bg.mb-140 {
      margin-bottom: 5rem;
    }
  }
  @media only screen and (max-width: 767px) {
    .breadcrumb-bg.mb-140 {
      margin-bottom: 3.75rem;
    }
  }
  .s-title {
    padding-top: 4.06rem;
  }
  @media only screen and (max-width: 575px) {
    .s-title {
      padding-top: 10.1rem;
    }
  }
  .s-title h1{
    font-size: 5.6rem;
    line-height: 5.6rem;
    font-family: "Metal Mania", cursive;
    text-shadow: 3px 3px 0px #b154f0;
    margin-bottom: 1.6rem;
  }
 
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    .s-title h1 {
      font-size: 4.5rem;
      line-height: 4.7rem;
      margin-bottom: 1.4rem;
    }
  }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .s-title h1 {
      font-size: 3.9rem;
      line-height: 4.06rem;
      margin-bottom: 1rem;
    }
  }
  @media only screen and (max-width: 767px) {
    .s-title h1 {
      font-size: 3.4rem;
      line-height: 3.75rem;
      margin-bottom: 1.1rem;
    }
  }
  @media only screen and (max-width: 575px) {
    .s-title h1 {
      font-size: 2.6rem;
      line-height: 3rem;
      margin-bottom: 1rem;
    }
  }
  .breadcrumbs ol li {
    font-size: 1.06rem;
    font-weight: bold;
    color: #b154f0;
    text-transform: uppercase;
    margin-right: 0.5rem;
  }
  @media only screen and (max-width: 767px) {
    .breadcrumbs ol li {
      font-size: 1rem;
      line-height: 1.56rem;
    }
  }
  .breadcrumbs ol li:last-child {
    margin-right: 0;
  }
  .breadcrumbs ol li a {
    color: #ffffff;
  }
  .breadcrumbs ol li a:hover {
    color: #b154f0;
  }
  /**************************/
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .players-list.mb-125 {
      margin-bottom: 4.4rem;
    }
  }
  @media only screen and (max-width: 767px) {
    .players-list.mb-125 {
      margin-bottom: 3rem;
    }
  }
  
  .player-inner .top {
    position: relative;
    overflow: hidden;
  }
  .player-inner .image {
    display: block;
    border-radius: 2.4rem;
  }
  .player-inner .image img {
    border-radius: 2.4rem;
    width: 100%;
  }
  .player-inner .overlay {
    position: absolute;
    height: calc(100%);
    width: calc(100%);
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) scale(0.97);
            transform: translate(-50%, -50%) scale(0.97);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background: rgba(0, 0, 0, 0.7);
    border: 6px solid rgba(255, 255, 255, 0.4);
    border-radius: 2.4rem;
    padding: 0.63rem;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .player-inner .social-link {
    position: absolute;
    font-size: 1.5rem;
    bottom: 2.5rem;
  }
  .player-inner .social-link a {
    margin-right: 1.9rem;
    color: #ffffff;
    position: relative;
    z-index: 1;
    visibility: hidden;
    opacity: 0;
    -webkit-transform: translateY(40px);
            transform: translateY(40px);
  }
  .player-inner .social-link a:nth-child(1) {
    -webkit-transition-delay: 0.1s;
            transition-delay: 0.1s;
  }
  .player-inner .social-link a:nth-child(2) {
    -webkit-transition-delay: 0.2s;
            transition-delay: 0.2s;
  }
  .player-inner .social-link a:nth-child(3) {
    -webkit-transition-delay: 0.3s;
            transition-delay: 0.3s;
  }
  .player-inner .social-link a:nth-child(4) {
    -webkit-transition-delay: 0.4s;
            transition-delay: 0.4s;
  }
  .player-inner .social-link a:last-child {
    margin-right: 0;
  }
  .player-inner .social-link a::before, 
  .player-inner .social-link a::after {
    position: absolute;
    content: "";
    width: 3rem;
    height: 2.5rem;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    opacity: 1;
    z-index: -1;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .player-inner .social-link a::before {
    background-image: url("../../assets/images/navigation-bg3.webp");
    opacity: 1;
  }
  .player-inner .social-link a::after {
    background-image: url("../../assets/images/navigation-bg4.webp");
    opacity: 0;
  }
  .player-inner .social-link a:hover::before {
    background-image: url("../../assets/images/navigation-bg3.webp");
    opacity: 0;
  }
  .player-inner .social-link a:hover::after {
    background-image: url("../../assets/images/navigation-bg4.webp");
    opacity: 1;
  }
  .player-inner .content {
    position: relative;
    padding: 1.7rem 1.25rem;
    text-align: center;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    z-index: 1;
    margin-top: 1.9rem;
  }
  
  .player-inner .content .title {
    font-size: 1.6rem;
    line-height: 2.4rem;
    font-weight: 700;
  }
  .player-inner .content .title a {
    color: #ffffff;
  }
  .player-inner .content .content-shape-img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
  }
  .player-inner .content .content-shape-img img {
    width: 100%;
    height: 7.88rem;
    -o-object-fit: fill;
       object-fit: fill;
    position: absolute;
    top: 0;
    left: 0;
  }
  .player-inner .content .content-shape-img img:nth-child(1) {
    opacity: 1;
  }
  .player-inner .content .content-shape-img img:nth-child(2) {
    opacity: 0;
  }
  .player-inner:hover .overlay {
    visibility: visible;
    opacity: 1;
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
  }
  .player-inner:hover .social-link a {
    visibility: visible;
    opacity: 1 ;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  .player-inner:hover .content-shape-img img:nth-child(1) {
    opacity: 0 !important;
  }
  .player-inner:hover .content-shape-img img:nth-child(2) {
    opacity: 1 !important;
  }
  
  