<section class="error_section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="error_inner text-center">
                    <div class="error_title">
                        <h3>HI....</h3>
                        <p>Don't Stay Tuned,</p>
                            <p>There is Nothing Comming Soon</p>
                        <p>I won't Develop this part, Till I got Paid </p>
                    </div>
                    <div class="error__404">
                        <img width="831" height="282" src="../../assets/images/404.webp" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>