.single-counterup {
    margin-right: 5.3rem;
    padding-right: 5.3rem;
    position: relative;
  }
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    .single-counterup {
      margin-right: 3.4rem;
      padding-right: 3.4rem;
    }
  }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .single-counterup {
      margin-right: 2.06rem;
      padding-right: 2.5rem;
    }
  }
  @media only screen and (max-width: 767px) {
    .single-counterup {
      width: 46%;
      margin-bottom: 1.9rem;
      margin-right: 1.9rem;
      padding-right: 3.9rem;
    }
    .single-counterup:nth-child(2) {
      margin-right: 0;
      padding-right: 0;
    }
    .single-counterup:nth-child(2)::before {
      display: none;
    }
  }
  @media only screen and (max-width: 479px) {
    .single-counterup {
      width: 100%;
      margin-right: 0;
      padding-right: 0;
    }
    .single-counterup::before {
      display: none;
    }
  }
  .single-counterup:last-child {
    margin-right: 0;
    padding-right: 0;
  }
  .single-counterup:last-child::before {
    display: none;
  }
  .single-counterup::before {
    position: absolute;
    content: "/ /";
    right: 0;
    top: 50%;
    font-size: 0.8rem;
    -webkit-transform: translatey(-50%);
            transform: translatey(-50%);
    color: #33cb33;
    font-weight: bold;
  }
  .counterup-text {
    text-align: center;
  }
  .counterup-text h2 {
    font-size: 5rem;
    line-height: 5rem;
    font-weight: 400;
    font-family: "Metal Mania", cursive;
    margin-bottom: 0.6rem;
  }
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    .counterup-text h2 {
      font-size: 4.6rem;
    }
  }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .counterup-text h2 {
      font-size: 3.75rem;
      line-height: 3.9rem;
    }
  }
  @media only screen and (max-width: 767px) {
    .counterup-text h2 {
      font-size: 2.8rem;
      line-height: 3.1rem;
    }
  }
  .counterup-text h2.color1 {
    color: #ffb300;
  }
  .counterup-text h2.color2 {
    color: #1de3eb;
  }
  .counterup-text h2.color3 {
    color: #df4c21;
  }
  .counterup-text h2.color4 {
    color: #b154f0;
  }
  .counterup-text span {
    font-size: 1.1rem;
    line-height: 2.2rem;
    color: #f3f3f3;
  }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .counterup-text span {
      font-size: 0.9rem;
      line-height: 1.9rem;
    }
  }
  @media only screen and (max-width: 767px) {
    .counterup-text span {
      font-size: 0.9rem;
      line-height: 1.9rem;
    }
  }
  