<mat-nav-list>
    <div class="logo py-4 d-flex align-items-center justify-content-center">
        <a routerLink=''>
            <img src="../../assets/images/logo.webp" alt="Logo" >
        </a>
    </div>
    <a class="close" (click)="closeNav()"><mat-icon>close</mat-icon></a>
    <mat-divider></mat-divider>
    <h2 matSubheader class="py-5">APPLICATIONS</h2>

    <a mat-list-item (click)="home()" routerLinkActive='list-item-active' class="pb-5">
        <mat-icon>home</mat-icon><span>Home</span>
    </a>
    <a mat-list-item (click)="match()" routerLinkActive='list-item-active' class="pb-5">
        <i class="fas fa-trophy"></i><span>match</span>
    </a>
    <a mat-list-item (click)="games()" routerLinkActive='list-item-active' class="pb-5">
        <i class="fas fa-gamepad"></i><span>games</span>
    </a>
    <a mat-list-item (click)="players()" routerLinkActive='list-item-active' class="pb-5">
        <mat-icon>people</mat-icon><span>players</span>
    </a>
    <a mat-list-item (click)="contact()" routerLinkActive='list-item-active' class="pb-5">
        <mat-icon>contact_mail</mat-icon><span>contact</span>
    </a>
    <mat-divider></mat-divider>
    <div class="sing-up py-5 d-flex justify-content-center align-items-center" [ngClass]="{'display': logged}">
        <div class="sign-up-btn">
            <a class="btn btn-link" (click)="signUp()">
                sign In <img class="arrow" src="../../assets/images/arrrow-icon1.webp" alt="">
            </a>
        </div>
    </div>
</mat-nav-list>