.hero-banner {
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
    height: 58.75rem;
    position: relative;
  }
  @media only screen and (min-width: 1200px) and (max-width: 1600px) {
    .hero-banner {
      height: 51.25rem;
    }
  }
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    .hero-banner {
      height: 48.75rem;
    }
  }
  @media only screen and (min-width: 768px) and (max-width: 991.5px) {
    .hero-banner {
      height: 41.88rem;
    }
  }
  @media only screen and (max-width: 767px) {
    .hero-banner {
      height: 37.5rem;
    }
  }
  @media only screen and (max-width: 575px) {
    .hero-banner {
      height: 35.63rem;
    }
  }
  @media only screen and (min-width: 768px) and (max-width: 991.5px) {
    .hero-banner.mb-130 {
      margin-bottom: 4.5rem;
    }
  }
  @media only screen and (max-width: 767px) {
    .hero-banner.mb-130 {
      margin-bottom: 3.5rem;
    }
  }
.hero-content {
    padding-top: 4.88rem;
    position: relative;
    z-index: 9;
}
@media only screen and (min-width: 768px) and (max-width: 991.5px) {
  .hero-content {
    text-align: center;
    padding-top: 0;
    margin-bottom: 3.125rem;
  }
}
@media only screen and (max-width: 767px) {
  .hero-content {
    text-align: center;
    margin-bottom: 0;
    padding-top: 1.75rem;
  }
}
@media only screen and (max-width: 575px) {
  .hero-content {
    padding-top: 9.5;
  }
}
.hero-content h1 {
  margin-bottom: 2.6rem;
  font-family: 'Metal Mania', cursive;
  text-shadow: 0.19rem 0.1875rem 0 #b154f0;
}
@media only screen and (min-width: 1200px) and (max-width: 1600px) {
  .hero-content h1 {
    font-size: 5.94rem;
    line-height: 6.13rem;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .hero-content h1 {
    margin-bottom: 2.063rem;
    font-size: 5.5rem;
    line-height: 5.5rem;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991.5px) {
  .hero-content h1 {
    margin-bottom: 1.3rem;
    font-size: 4.7rem;
    line-height: 4.9rem;
  }
}
@media only screen and (max-width: 767px) {
  .hero-content h1 {
    margin-bottom: 0.94rem;
    font-size: 3.25rem;
    line-height: 3.44rem;
  }
}
@media only screen and (max-width: 575px) {
  .hero-content h1 {
    margin-bottom: 0.82rem;
    font-size: 2.5rem;
    line-height: 3rem;
  }
}
.hero-content p {
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 2.94rem;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .hero-content p {
    font-size: 1.5rem;
    margin-bottom: 2.5rem;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991.5px) {
  .hero-content p {
    font-size: 1.4rem;
    margin-bottom: 1.9rem;
  }
}
@media only screen and (max-width: 767px) {
  .hero-content p {
    font-size: 1.13rem;
    margin-bottom: 1.5rem;
  }
}
@media only screen and (max-width: 575px) {
  .hero-content p {
    font-size: 1.063rem;
    margin-bottom: 1.25rem;
    line-height: 1.75rem;
  }
}
.btn.btn-link{
  background-image: url('../../assets/images/btn-bg.webp');
}
.btn.btn-link img {
  margin-left: 0.5rem;
}
.btn.btn-link:hover {
  opacity: 0.8;
}
.btn.btn-link:hover img{
  margin-left: 1.25rem;
} 
.hero-img {
  position: absolute;
  bottom: 0;
  right: 3.44rem;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .hero-img {
    right: 1.25rem;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991.5px) {
  .hero-img {
    right: 0;
    left: 0;
    text-align: center;
  }
}
@media only screen and (max-width: 767px) {
  .hero-img {
    right: 0;
    left: 0;
    text-align: center;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1600px) {
  .hero-img {
    width: 40.63rem;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .hero-img img {
    width: 38.75rem;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991.5px) {
  .hero-img img {
    width: 28.13rem;
  }
}
@media only screen and (max-width: 767px) {
  .hero-img img {
    width: 18.75rem;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991.5px) {
  .section-title.mb-60 {
    margin-bottom: 1.88rem;
  }
}
@media only screen and (max-width: 767px) {
  .section-title.mb-60 {
    margin-bottom: 1.88rem;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991.5px) {
  .section-title.mb-70 {
    margin-bottom: 2.5rem;
  }
}
@media only screen and (max-width: 767px) {
  .section-title.mb-70 {
    margin-bottom: 2.19rem;
  }
}
.section-title h2 {
  margin-bottom: 0;
}
@media only screen and (min-width: 1200px) and (max-width: 1600px) {
  .section-title h2 {
    font-size: 3.13rem;
    line-height: 4.1rem;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .section-title h2 {
    font-size: 2.5rem;
    line-height: 3.38rem;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991.5px) {
  .section-title h2 {
    font-size: 2.19rem;
    line-height: 2.8rem;
  }
}
@media only screen and (max-width: 767px) {
  .section-title h2 {
    font-size: 1.75rem;
    line-height: 2.38rem;
  }
}
@media only screen and (max-width: 575px) {
  .section-title h2 {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}
.gamming-inner .row {
  margin-left: -1.25rem;
  margin-right: -1.25rem;
}
@media only screen and (min-width: 1200px) and (max-width: 1600px) {
  .gamming-inner .row {
    margin-left: -0.63rem;
    margin-right: -0.63rem;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .gamming-inner .row {
    margin-left: -0.63rem;
    margin-right: -0.63rem;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991.5px) {
  .gamming-inner .row {
    margin-left: -0.63rem;
    margin-right: -0.63rem;
  }
}
@media only screen and (max-width: 767px) {
  .gamming-inner .row {
    margin-left: -0.63rem;
    margin-right: -0.63rem;
  }
}
@media only screen and (max-width: 767px){

  .gamming-inner .row {
      margin-left: -0.63rem;
      margin-right: -0.63rem;
    }
}
.gamming-inner .col-lg-4 {
  padding-left: 20px;
  padding-right: 20px;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .gamming-inner .col-lg-4 {
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991.5px) {
  .gamming-inner .col-lg-4 {
    padding-left: 0.63rem;
    padding-right: 0.63rem;
  }
}
@media only screen and (max-width: 767px) {
  .gamming-inner .col-lg-4 {
    padding-left: 0.63rem;
    padding-right: 0.63rem;
  }
}
.single-gamming-world {
  text-align: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  padding: 3.44rem 2.5rem 3.13rem;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .single-gamming-world {
    padding: 3.34rem 1.56rem 2.8rem;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991.5px) {
  .single-gamming-world {
    padding: 1.88rem 1.25rem 2.2rem;
  }
}
@media only screen and (max-width: 767px) {
  .single-gamming-world {
    padding: 1.88rem 1.25rem 1.75rem;
    margin-bottom: 1.88rem;
  }
}
@media only screen and (max-width: 575px) {
  .single-gamming-world {
    margin-bottom: 1.25rem;
  }
}

.gamming-world-thumb {
  margin-bottom: 3.13rem;
}
@media only screen and (min-width: 768px) and (max-width: 991.5px) {
  .gamming-world-thumb {
    margin-bottom: 1.88rem;
  }
}
@media only screen and (max-width: 767px) {
  .gamming-world-thumb {
    margin-bottom: 1.57rem;
  }
}
.gamming-world-text h3 {
  margin-bottom: 1.06rem;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .gamming-world-text h3 {
    font-size: 1.44rem;
    line-height: 2.34rem;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991.5px) {
  .gamming-world-text h3 {
    margin-bottom: 0.81rem;
    font-size: 1.13rem;
    line-height: 2.34rem;
  }
}
@media only screen and (max-width: 767px) {
  .gamming-world-text h3 {
    margin-bottom: 0.69rem;
    font-size: 1.25rem;
    line-height: 1.88rem;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991.5px) {
  .gaming-world-text p {
    font-size: 0.94rem;
    line-height: 1.75rem;
  }
}
@media only screen and (max-width: 767px) {
  .gamming-world-text p {
    font-size: 0.94rem;
    line-height: 1.75rem;
  }
}
.title h2 {
  margin-bottom: 0;
}
@media only screen and (min-width: 1200px) and (max-width: 1600px) {
  .title h2 {
    font-size: 3.1rem;
    line-height: 4.06rem;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .title h2 {
    font-size: 2.5rem;
    line-height: 3.34rem;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991.5px) {
  .title h2 {
    font-size: 2.19rem;
    line-height: 2.82rem;
  }
}
@media only screen and (max-width: 767px) {
  .title h2 {
    font-size: 1.75rem;
    line-height: 2.34rem;
  }
}
@media only screen and (max-width: 575px) {
  .title h2 {
    font-size: 1.44rem;
    line-height: 2rem;
  }
}
.title h2 span {
  color: #b154f0;
}
.title p {
  font-size: 1.13rem;
  line-height: 2.19rem;
  margin-top: 0.75rem;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .title p {
    font-size: 1.06rem;
    line-height: 2rem;
    margin-top: 0.63rem;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991.5px) {
  .title p {
    font-size: 1rem;
    line-height: 1.88rem;
    margin-top: 0.63rem;
  }
}
@media only screen and (max-width: 767px) {
  .title p {
    font-size: 0.94rem;
    line-height: 1.75rem;
    margin-top: 0.63rem;
  }
}
@media only screen and (max-width: 575px) {
  .title p {
    font-size: 0.88rem;
    line-height: 1.57rem;
  }
}
/*****************upComming matches**********************/
.upComming-list {
  border: 0.25rem solid #281e4d;
  background: #09002a;
  padding: 2rem 4.1rem;
  border-radius: 2.38rem;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .upComming-list{
    padding: 2rem 2.2rem;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .upComming-list {
    padding: 1.75rem 1.57rem;
  }
}
@media only screen and (max-width: 767px) {
  .upComming-list{
    padding: 1.57rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
}
.upComming-text {
  width: 42%;
}
@media only screen and (max-width: 767px) {
  .upComming-text {
    width: 100%;
  }
}
.upComming-text p {
  font-weight: 500;
  margin-bottom: 1rem;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .upComming-text p {
    margin-bottom: 0.81rem;
    font-size: 0.94rem;
  }
}
@media only screen and (max-width: 767px) {
  .upComming-text p {
    margin-bottom: 0.81rem;
    font-size: 0.94rem;
  }
}
@media only screen and (max-width: 575px) {
  .upComming-text p {
    margin-bottom: 0.69rem;
    font-size: 0.88rem;
  }
}
.upComming-text h3 {
  font-size: 2.19rem;
  margin-bottom: 0.69rem;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .upComming-text h3 {
    font-size: 1.75rem;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .upComming-text h3 {
    font-size: 1.44rem;
    margin-bottom: 0.63rem;
    line-height: 1.57rem;
  }
}
@media only screen and (max-width: 767px) {
  .upComming-text h3 {
    font-size: 1.44rem;
    margin-bottom: 0.63rem;
    line-height: 1.57rem;
  }
}
@media only screen and (max-width: 575px) {
  .upComming-text h3 {
    font-size: 1.2rem;
    margin-bottom: 0.44rem;
    line-height: 1.3rem;
  }
}
.upComming-text h3 a:hover {
  color: #b154f0;
}
.upComming-text span {
  font-size: 0.88rem;
  color: #b154f0;
}
.upComming-play{
  margin: 0 2.19rem;
  width: 12%;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .upComming-play {
    width: 13%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .upComming-play {
    margin: 0 1.88rem;
    width: 16%;
  }
}
@media only screen and (max-width: 767px) {
  .upComming-play {
    margin: 1.25rem 0 0.94rem;
    width: 100%;
  }
}
.video-popup {
  width: 7.5rem;
  height: 7.5rem;
  border-radius: 50%;
  background: #b154f0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #fff !important;
  position: relative;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .video-popup {
    width: 6.25rem;
    height: 6.25rem;
  }
}
@media only screen and (max-width: 767px) {
  .video-popup {
    width: 5rem;
    height: 5rem;
    margin: 0 auto;
  }
}

.upComming-play span {
  font-size: 0.88rem;
  line-height: 2.19rem;
  color: #ffa700;
  margin-top: 0.5rem;
}
.upComming-thumb {
  width: 33%;
}
@media only screen and (max-width: 767px) {
  .upComming-thumb {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.single_upcoming_thumb {
  margin-right: 2.19rem;
}
.single_upcoming_thumb:last-child {
  margin-right: 0;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .single_upcoming_thumb {
    margin-right: 1.25rem;
  }
}
@media only screen and (max-width: 575px) {
  .single_upcoming_thumb {
    margin-right: 1.57rem;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .single_upcoming_thumb img {
    width: 5rem;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .single_upcoming_thumb img {
    width: 3.75rem;
  }
}
@media only screen and (max-width: 767px) {
  .single_upcoming_thumb img {
    width: 4.38rem;
  }
}
@media only screen and (max-width: 575px) {
  .single_upcoming_thumb img {
    width: 3.75rem;
  }
}
.others_match_btn {
  margin-top: 4.34rem;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .others_match_btn {
    margin-top: 2.5rem;
  }
}
@media only screen and (max-width: 767px) {
  .others_match_btn {
    margin-top: 2rem;
  }
}
.gaming-update-inner {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  height: 18.75rem;
  padding: 0 5.25rem;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .gaming-update-inner {
    padding: 0 2.5rem;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .gaming-update-inner {
    padding: 0 1.88rem;
    height: 16.44rem;
  }
}
@media only screen and (max-width: 767px) {
  .gaming-update-inner {
    padding: 0 1.88rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    text-align: center;
  }
}
@media only screen and (max-width: 575px) {
  .gaming-update-inner {
    height: 16.25rem;
  }
}
.gaming-update-text h2 {
  margin-bottom: 0;

    font-size: 3.44rem;
    line-height: 4.5rem;
    font-weight: 700;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .gaming-update-text h2 {
    font-size: 3rem;
    line-height: 3.88rem;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .gaming-update-text h2 {
    font-size: 2.4rem;
    line-height: 3.44rem;
  }
}
@media only screen and (max-width: 767px) {
  .gaming-update-text h2 {
    font-size: 1.88rem;
    line-height: 2.9rem;
  }
}
@media only screen and (max-width: 575px) {
  .gaming-update-text h2 {
    font-size: 1.4rem;
    line-height: 2.25rem;
  }
}
.gaming-update-btn {
  margin-left: 2.5rem;
}
.gaming-update-btn .btn.btn-link {
  font-size: 1.2rem;
  padding: 0 0.63rem;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .gaming-update-btn .btn.btn-link {
    font-size: 1.1rem;
  }
}
@media only screen and (max-width: 767px) {
  .gaming-update-btn .btn.btn-link {
    font-size: 1.05rem;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .gaming-update-btn {
    margin-left: 1.88rem;
  }
}
@media only screen and (max-width: 767px) {
  .gaming-update-btn {
    margin-left: 0;
    margin-top: 1.5rem;
  }
}
